{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bee.css' %}">
    <link rel="stylesheet" href="{% static 'js/card.js' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
      <link rel="stylesheet" href="/examples/libs/simple-adaptive-slider/simple-adaptive-slider.min.css">

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2eb1ff35d2.js" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <header class="header" id = "header">
        <div class="container">

            <div class="header_inner">
                <div class="header_left">

                    <div class="header_logo">
                        <a href="#"><img src="{% static 'images/logo.png' %}" alt="Tomiko Trade" class="logo"></a>
                    </div>

                    <nav class="nav">
                        <a class="nav_link" href="#">Авто из Кореи</a>
                        <a class="nav_link" href="#">Авто из Китая</a>
                        <a class="nav_link" href="#">Авто из Японии</a>
                        <a class="nav_link" href="#">Акции</a>
                        <a class="nav_link" href="#">Контакты</a>
                    </nav>
                </div>

                <div class="header_right">
                    <div class="number">
                        <p>8 (800) 500-49-46</p>
                    </div>

                    <div class="social">
                        <a class="social_item" href="#" target="_blank"><i class="fa-brands fa-telegram"></i>
                        </a>
                        <a class="social_item" href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </header>
    <section class = "section section--unique">
      <div class = "container">
        <div class = "hard_slider">
        <div class="card_description">
          <div class="card_sup">
            <p>SUBARE LEVORG VN5, 2021 г.</p>
          </div>
          <div class="card_price">
            1 315 000 ₽
          </div>
          <div class="but_card">
            Оставить заявку
              <div class = "whatsapp_card"><img src = "{% static 'images/WhatsApp.png' %}"></div>
          </div>
          <p class = "down_but_card">Экономия до 30% от рынка авто в наличии <span><img src = "https://tomiko-trade.com/static/img/info.svg"></span></p>
          <div class="specifications_car">
            <div class="specifications_car_1">
              <p>Год выпуска:</p>
              <p>Кузов:</p>
              <p>Страна:</p>
              <p>Кпп:</p>
              <p>Двигатель:</p>
              <p>Объём двигателя:</p>
              <p>Привод:</p>
              <p>Цвет:</p>
              <p>Пробег:</p>
            </div>
            <div class="specifications_car_2">
              <p>2018 Г.</p>
              <p>Кроссовер</p>
              <p>Япония</p>
              <p>Автомат</p>
              <p>Бензиновый</p>
              <p>2000 лс</p>
              <p>4WD</p>
              <p>Серый</p>
              <p>42 000 / Без пробега по Рф</p>
            </div>

          </div>
        </div>
    <div class="slider-container">
  <div class="main-slider swiper-container">
    <div class="swiper-wrapper">
      <!-- Ваши слайды -->
      <div class="swiper-slide">
        <div class="main-image-container">
          <div class="image-wraper">
            <img src="https://tomiko-trade.com/media/images/2024/11/14/2024-11-14_16_5p4Rpgc.webp" alt="Картинка 1">
          </div>
        </div>
      </div>
      <!-- Повторите для других слайдов -->

      <div class="swiper-slide">
        <div class="main-image-container">
          <div class="image-wraper">
            <img src="https://tomiko-trade.com/media/images/2024/11/14/2024-11-14_16_5p4Rpgc.webp" alt="Картинка 1">
          </div>
        </div>
      </div>
    </div>
    <div class="slider-button-prev"></div>
    <div class="slider-button-next"></div>
  </div>

  <!-- Миниатюры -->
  <div class="thumbnails">
    <div class="thumbnail-item" data-slide-index="0">
      <img src="https://tomiko-trade.com/media/images/2024/11/14/2024-11-14_16_5p4Rpgc.webp" alt="Миниатюра 1">
    </div>
    <div class="thumbnail-item" data-slide-index="1">
      <img src="https://tomiko-trade.com/media/images/2024/11/14/2024-11-14_16_5p4Rpgc.webp" alt="Миниатюра 2">
    </div>
    <!-- Повторите для других миниатюр -->
  </div>
</div>
</div>
</div>
</section>
    <div class="custom-pop-up" id="custom-pop-up">
                    <div class="custom-pop-up-container">
                        <div class="custom-pop-up-body" id="custom-pop-up-body">
                            <div class="custom-pop-up-close" id="custom-pop-up-close">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                            <div class="request_blank">
                                <div class = "suptitle_request_blank"><p>Оставить заявку</p></div>
                                <div class="subtitle_request_blank">
                                    Оставьте заявку и менеджер отправит Вам актуальные варианты автомобилей под Ваши требования
                                </div>
                                <div class="input_field_data">
                                    <label>
                                        <p class = "field_text_1">Имя</p>
                                        <input type="text" name="" value="Введите имя" class = "field1">
                                    </label>
                                    <label>
                                        <p class = "field_text_2">Телефон</p>
                                        <input value="+7" class = "field2">
                                    </label>
                                </div>
                                <div class="text_requestes">
                                    <textarea name="name" placeholder="Введите текст сообщения, укажите страну, марку и год машины."></textarea>
                                </div>
                                <div class = "button_requests_share"><button type="button" name="button">Отправить</button></div>
                            </div>
                        </div>
                    </div>
                </div>
    <section class = "section">
                <div class="container">
                    <div class="cnt">

                    <div class="contact">
                        <div class="contact_text">Контактная <br> информация <img src="{% static 'images/hi.webp' %}" class = "hi_contact"></div>
                        <div class="sub_contact_text">Оставьте свою заявку и наш менеджер <br> свяжется с Вами для уточнения деталей.</div>
                        <div class="contact_info">
                            <div class="contact_left">

                                <p>Звонок по России бесплатный</p>
                                <div>8 (800) 775-67-29</div>

                                <p>WhatsApp</p>
                                <div>8 (800) 775-67-29</div>
                                <p>Офис</p>
                                <div>г. Владивосток, ул. Тополевая 6</div>



                            </div>

                        </div>
                    </div>

                    <div class="form_contact">
                        <form class="form_to_contact">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="name">Имя</label>
                                    <input type="text" id="name" placeholder="Введите имя">
                                </div>
                                <div class="form-group">
                                    <label for="phone_number">Телефон</label>
                                    <input type="text" id="phone_number" placeholder="+7">
                                </div>
                            </div>
                            <div class="textarea">
                                <label for="textarea">Уточните свой вопрос</label>
                                <textarea class="text_form_contact" id="textarea" placeholder="Введите текст сообщения, укажите страну, марку и год машины"></textarea>
                            </div>
                            <div class="cch">
                                <input type="checkbox" class="checkbox" id="checkbox">
                                <label class="text_checkbox" for="checkbox">

                                    С <span class="confeditional_form">правилами политики конфиденциальности</span>
                                    ознакомлён
                                 </label>
                            </div>
                            <button type="submit" class="button_form">Отправить</button>
                        </form>
                    </div>
                    </div>
                </div>
            </section>





    <footer class="footer">
            <div class="container">
                <div class="ot">
                    <div class="footer_info">
                        <div class="footer_logo">
                            <img src="{% static 'images/logo2.png' %}">
                        </div>

                        <div class="footer_catalog">
                            <span class="katalog">КАТАЛОГ</span>
                            <div class="catalog_text">
                                <div class="links_footer">
                                    <a href="#">Авто из Кореи</a>
                                    <a href="#">Авто из Китая</a>
                                    <a href="#">Авто из </a>
                                </div>
                            </div>
                        </div>

                        <div class="footer_company">
                            <span>КОМПАНИЯ</span>
                            <div class="company_text">
                                <div class="links_footer">
                                    <a href="#">О компании</a>
                                    <a href="#">Доставка</a>
                                    <a href="#">Отзывы</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer_contact">
                        <span>Звонок по России бесплатный</span>
                        <div class="number">88005504832</div>
                        <div class="footer_sosceti">
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                        </div>
                    </div>
                </div>

                <div class="politic">
                    <p>© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</p>
                    <p>Политика конфиденциальности</p>
                </div>
            </div>
        </footer>

  <script src="{% static 'js/card.js' %}"></script>

  </body>
</html>
