* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #011224;
  overflow-x: hidden;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

.section {
  padding: 100px 0;
}

.section-korea {
    padding:50px 0;
}

.section-china {
    padding:10px 0;
}

.section-japan {
    padding:10px 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------------------------------ */

/* Header - шапка */

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 24px;
  background-color: #011224;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -10px;
}

/* Header_logo - логотип в шапке */
.header_logo .logo {
  height: 60px;
  width: 70px;
  transition: filter 10s ease, transform 0.3s ease;
}

.header_logo .logo:hover {
  transform: scale(1.2);
}

.header_logo .logo:active {
  transform: scale(0.95); 
  box-shadow: 0 1px 2px rgba(0,0,0, 0.3); 
  opacity: 0.8; 
}

.header_logo .logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header_left - левая часть шапки (логотип и каталог) */
.header_left {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Header_right - правая часть шапки (номер и соцю сети) */
.header_right {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* Nav - навигация в шапке */
.nav {
  font-size: 16px;
}

.nav_link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  word-spacing: 3px;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav_link:hover {
  color: #fff;
  opacity: 1;
}

/* Header_social - социальные сети в шапке */
.social_item {
  text-decoration: none;
  font-size: 36px;
  margin: 0 5px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.social_item a {
  width: 36px;
  height: 36px;
}

.social_item:hover {
  transform: scale(1.2);
}

.social_item:active {
  transform: scale(0.95); 
  opacity: 0.8; 
}

.social_item img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Number - номер */
.number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0 24px;
}

.number p {
  font-size: 24px;
}

/* ------------------------------------------------ */

/* intro - приветственный экран */

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background: url("https://tomiko-trade.com/static/img/imgBG.webp") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
  font-size: 47px;
  text-transform: uppercase;
  line-height: 60px;
  color: #fff;
  font-family: 'Oswald', Arial, sans-serif;
  margin-top: 100px;
}

.intro_subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
  padding-top: 10px;
}

/* intro_btn - кнопка на приветственном экране */

.intro_btn {
  display: inline-block;
  vertical-align: top;
  padding: 20px 30px;
  gap: 12px;
  background: linear-gradient(94.98deg, #0D2F68 0%, #D51117 100%);
  border-radius: 60px;
  color: #fff;
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-decoration: none;
  margin-top: 35px;
  transition: background 0.7s cubic-bezier(0.25, 0.1, 0.25, 1), filter 0.3s ease, transform 0.3s ease;
}

.intro_btn:hover {
  transform: scale(1.05); 
}

.intro_btn:active {
  filter: brightness(0.7); 
  transform: scale(0.95); 
}

.intro_bottom_item {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px; 
  align-items: flex-end;
}

/* stats-container - нижний блок приветственного экрана */
.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-family: sans-serif;
  padding: 20px 0;
  margin-top: 50px;
}

.stats-items {
  display: flex;
  align-items: center;
}

.discount-box {
  background: #081E36;
  padding: 10px 20px 20px 20px;
  border-radius: 25px;
  text-align: left;
}

.discount-text {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 5px;
  line-height: 1.2;
}

.discount-text-small {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.2;
}

.discount-percent {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 72px;
  color: #FD554B;
  padding-left: 5px;
}

.over_btn {
  display: inline-flex; 
  align-items: center;
  padding: 10px 80px;
  gap: 12px;
  background: linear-gradient(94.98deg, #0D2F68 0%, #D51117 100%);
  border-radius: 60px;
  color: #fff;
  font-family: "Inter", serif;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 15px;
  transition: background 0.7s cubic-bezier(0.25, 0.1, 0.25, 1), filter 0.3s ease, transform 0.3s ease;
}

.over_btn:hover {
  transform: scale(1.05); 
}

.over_btn:active {
  filter: brightness(0.7); 
  transform: scale(0.95); 
}




.pop_up{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, .8);

}

.pop_up.active{
  display: block;

}

.pop_up_container{
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body{
  margin: auto;
  background-color: #081E36;
  width: 899px;
  height: 768px;
  border-radius: 24px;
  position: relative;

}

.pop_up_close{
  position: absolute;
  right: 45px;
  top:20px;
  cursor: pointer;
}

.pop_up_close i{
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.pop_up_body p{
  padding-top: 20px;
  transform: translate(-8em,0);
  font-size: 24px;
  font-weight: 400;
  padding-left: 100px;

}

.pop_up_body_image{
  position: relative;
  width: 100%;
}

.pop_body_image_item_1{
  display: inline-block;
  width: 537px;
  height: 477px;
  padding-left: 20px;
  padding-top: 24px;
  padding-right: 20px;
}

.pop_body_image_item_1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  ;
}

.pop_body_image_item_2{
  display: inline-block;
  width: 262px;
  height: 477px;
  padding-top:24px;
  padding-right: 40px;
}

.pop_body_image_item_2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.pop_body_strelka{
  position: absolute;
  top:260px;
  right: 300px;
}

.btn_econom{
  margin-left: 40px;
  width: 300px;
}

#btn_econom_teleg{
  position: absolute;
  bottom:105px;
}

/* intro_bottom_item - полоска снизу приветственного экрана */
.intro_bottom_item {
    position: absolute;
    top: 870px;
    width: 10%;
    width: 1400px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    margin: 10px;
}

/* ------------------------------------------------ */




/* Слайдеры */

.wrapper {
    padding: 30px;
    min-height: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.image-slider_slide {
    transition: transform 0.3s ease;
}

.swiper-slide-active .image-slider_image {
    transform: scale(1.1);
}

.image-slider_slide:not(.swiper-slide-active) {
    transform: scale(1);
}

.image-slider_slide:not(.swiper-slide-active) img {
    height: 70%;
    position: absolute;
    padding-top: 80px;
}

.image-slider {
    padding: 30px 0 70px 0;
    position: relative;
}

.image-slider_wraper {
}

.image-slider_slide {
    max-width: 400px;
}

.image-slider_image img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-slider_image {
    position: relative;
    width: 380px;
    height: 380px;
    background-color: #081E36;
    overflow: hidden;
    border-radius: 24px;
}

.image-slider_image-active {
    transform: scale(1.5);
}

.req-butt {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: sans-serif;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 2000;
}

.image-slider_slide:not(.swiper-slide-active) .req-butt:hover {
    background-color: #cc0000;
}

.swiper-slide-active .req-butt {
    background-color: #ff0000;
}

.req-butt:focus {
    outline: none;
}

.image-slider {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x proximity;
}

.image-slider .swiper-wrapper {
    display: flex;
}

.image-slider .swiper-slide {
    flex-shrink: 0;
}

.image-slider::-webkit-scrollbar {
    display: none;
}

.image-slider {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.image-slider__inner-slider {
    position: relative;
    width: 380px;
    height: 380px;
}

.image-slider__inner-wrapper {
    display: flex;
}

.image-slider__inner-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.image-slider__inner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-slider__inner-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider__inner-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.5;
    margin: 0 5px;
    cursor: pointer;
}

.image-slider__inner-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #ff0000;
}

.slider_up_text {
    width: 325px;
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    transform: translateX(-80px);
}

.slider_up_text span {
    color: #ff0000;
}

.slider_up_text img {
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}


/* СЛАЙДЕР КАРТОЧКИ АВТОМОБИЛЯ*/
.card_description{
    width: 484px;
    height:594px;

}

.specification_car{
    width: 390px;
    height:267px;
}

.specifications_car_1{
    display: inline-block;
    width:142px;
    height:267px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

.specifications_car_2{
    display:inline-block;
    width:216px;
    height:267px;
    color: #fff;
    font-size: 16px;
}

.card_sup{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    color:#fff;
    margin-bottom: 10px;
}

.card_price{
    font-size: 36px;
    color:#fff;
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}

.but_card {
  background: linear-gradient(to right, #4B0082, #DC143C); /* Градиент от индиго к красному */
  border-radius: 60px; /* Скругленные углы */
   /* Отступы */
  color: white; /* Белый цвет текста */
  text-decoration: none; /* Убираем подчеркивание у текста */
  font-family: sans-serif; /* Или другой шрифт по вашему желанию */
  font-weight: bold; /* Жирный текст */
  text-align: center; /* Текст по центру */
  transition: background-color 0.3s ease; /* Плавный переход цвета при наведении */
  cursor: pointer; /* Курсор в виде указателя */
  border: none; /* Убираем границу */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень */
  width: 308px; /* Добавлено */
  height: 70px;
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.but_card:hover {
  background: linear-gradient(to right, #6A0DAD, #FF2400); /* Изменение градиента при наведении */
}

.but_card{
    position:relative;
}

.whatsapp_card{
    position:absolute;
    transform:translate(320px, -48px);

}

.down_but_card{
    font-size: 14px;
    color:#fff;
    margin-bottom: 20px;
}

.contact_left div{
    margin-bottom: 10px;
}

.contact_text{
    position:relative;
    font-size: 70px;
    font-family: "Oswald", sans-serif;
}

.hi_contact{
    position:absolute;
    transform:translate(50px, -40px);
}







.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail-item {
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.thumbnail-item.active {
  opacity: 1;
}

.thumbnail-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}






.custom-pop-up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
}

.custom-pop-up.active {
    display: block;
}

.custom-pop-up-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.custom-pop-up-body {
    margin: auto;
    background-color: #081E36;
    width: 640px;
    height: 598px;
    border-radius: 24px;
}

.request_blank p {
    font-size: 40px;
    color: #fff;
    padding-left: 90px;
}

.suptitle_request_blank {
    width: 300px;
    height: 40px;
    margin-left: 130px;
    font-family: "Oswald", sans-serif;
}

.subtitle_request_blank {
    width: 460px;
    height: 38px;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    margin-left: 35px;
}

.input_field_data {
    width: 560px;
    height: 76px;
    display: flex;
    justify-content: space-between;
}

.input_field_data .field1 {
    padding: 16px;
    border-radius: 32px;
    background-color: #20344A;
    border: 0;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 30px;
    width: 272px;
    margin-right: 20px;
}

.input_field_data .field2 {
    padding: 16px;
    border-radius: 32px;
    background-color: #20344A;
    border: 0;
    color: #fff;
    width: 272px;
}

.field_text_1 {
    margin-left: 50px;
}

.field_text_2 {
    margin-left: 15px;
}

.text_requestes textarea {
    width: 560px;
    height: 101px;
    margin-top: 100px;
    margin-left: 45px;
    background-color: #20344A;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 16px;
}

.button_requests_share button {
    width: 560px;
    height: 70px;
    border-radius: 60px;
    background-color: #20344A;
    color: #fff;
    border: none;
    margin-left: 45px;
    margin-top: 20px;
}

.custom-pop-up-body .input_field_data p {
  font-size : 14px;
}

.custom-pop-up-close{
  position: absolute;
  left: 1240px;
  top:120px;
  cursor: pointer;
}

.custom-pop-up-close i{
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.custom-pop-up-body p{
  padding-top: 20px;
  transform: translate(-8em,0);
  font-size: 24px;
  font-weight: 400;
  padding-left: 100px;
   color: white;
}

.custom-pop-up-body p .custom-info-perc{
   color: #FF2E65;
}

.custom-pop-up-body-image{
  position: relative;
  width: 100%;
}

.custom-pop-body-image-item-1{
  display: inline-block;
  width: 537px;
  height: 477px;
  padding-left: 20px;
  padding-top: 24px;
  padding-right: 20px;
}

.custom-pop-body-image-item-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  ;
}

.custom-pop-body-image-item-2{
  display: inline-block;
  width: 262px;
  height: 477px;
  padding-top:24px;
  padding-right: 40px;
}

.custom-pop-body-image-item-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.custom-pop-body-strelka{
  position: absolute;
  top:260px;
  right: 300px;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.5;
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #ff0000;
}


.slider_text{
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  width: 179px;
  height: 49px;
  z-index: 2;
}

.slider_text p{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.image-slider_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  /* top: 50%;  Убираем стандартное выравнивание по вертикали */

  /* Смещение вверх */
  background-color: transparent; /* Убираем фон */
  border: none; /* Убираем границы */
  cursor: pointer;
  z-index: 10;
    width: 25px; /* Уменьшаем ширину */
  height: 25px; /* Уменьшаем высоту */
  color:#fff;
}

.swiper-button-prev{
    transform:translate(3000%, -650%);

}

.swiper-button-next{
    transform:translate(-1600%,-650%);
}

.swiper-button-prev {
  left: -40px; /* Позиция слева от слайдера */
}

.swiper-button-next {
  right: -40px; /* Позиция справа от слайдера */
}






.slider_up_text{
  width: 325px;
  height: 80px;
  font-size: 32px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.slider_up_text span{
  color:#FD554B;
}

.slider_up_text img{
  width: 40px;
  height: 40px;
  position: absolute;
  top:55px;
}


.section--unique{
    height:600px;
}
/* Лого-прокрутка*/

.swiper_container {
  height: calc(100vh - 120px);
  margin: 60px;
}

.slider-container {
    padding: 30px;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column; /* Располагаем основной слайдер и миниатюры друг под другом */
    align-items: center;
    top:-650px;/* Выравниваем по центру */
    border:0;
}

.main-slider {
  padding: 30px 0 70px 0;
  width: 80%; /* Добавляем ширину */
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */
  align-items: flex-start; /* Выравниваем по левому краю */
  transform: translateX(500px);
  border-radius: 28px;
}


.main-slider {
    height: auto; /* Позволяем высоте подстраиваться */
    max-height: 60vh; /* Максимальная высота слайдера */
    overflow: hidden;
}

.main-image-container {
    position: relative;
    width: 706px;
    height: 402px;;
    max-height: 100%;
    background-color: #081E36;
    margin: 0;
    top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгоняем изображение без обрезки */
    border-radius: 20px;
}

.slider-text-overlay {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    width: 179px;
    height: 49px;
    z-index: 2;
    bottom: 20px;
    left: 20px;
}


.slider-text-overlay p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}


.thumbnail-slider {
    height: 80px;
    margin-top: 120px;
    width: 40%;
     margin: 20px auto;
     display: flex;
     justify-content: space-between;/* Центрируем слайдер */
     transform: translateX(180px);
}


.thumbnail-slider img {
    height: 80px;
    object-fit: cover;
    width: 100px;
    border-radius: 12px;
}


.logo-slider-container {
  width: 100%;
  overflow: hidden;
  background-color: #0A0F1D; /* Цвет, как в примере */
  padding: 10px 0;
}

.logo-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.logo-slider .swiper-slide-active {
  opacity: 1;
}

.logo-slider img {
  width: 60px; /* Регулируй размер */
  height: auto;
  filter: brightness(0.7);
}


.slider-container .slider-button-next::after,
.slider-container .slider-button-prev::after {
    color: #fff;
    font-size: 20px;
}

.slider-container .slider-button-next {
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-container .slider-button-prev {
    left: unset;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Стили для увеличенного состояния */


.main-image-container.expanded {
    transform: scale(1.5);
    z-index: 3;
    height: 600px; /* Установите желаемую высоту */
    width: auto; /* Установите желаемую ширину */
    position: fixed;
    top:  50%;/* Сдвигаем выше на 100px */
    left: 50%;
    max-width: 160vw;
    max-height: 60vh;
    border-radius: 10px;
    justify-content: center; /* центрируем контент по горизонтали */
    align-items: center;
    transform: translateY(-500px);
}

.main-image-container.expanded img {
  object-fit: contain;
  max-width: 90%; /* Ширина изображения от контейнера */
  max-height: 90%; /* Высота изображения от контейнера */
   max-height: 500px;/* Максимальная высота*/
  max-width: 1000px;/* Максимальная ширина*/
  border-radius: 12px;

}


.main-image-container.expanded {
    z-index: 3;
    height: 800px; /* Задаем высоту в пикселях */
    width: 1000px; /* Задаем ширину в пикселях */
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-200px);
     max-width: none; /* Убираем ограничение по максимальной ширине*/
    max-height: none; /* Убираем ограничение по максимальной высоте*/
}

.main-image-container.expanded img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    max-height: 500px;
    max-width: 900px;
    border-radius: 12px;
}



.main-image-container.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Контейнер занимает всю ширину экрана */
    height: 100vh; /* Контейнер занимает всю высоту экрана */
    background-color: rgba(0, 0, 0, 0.9); /* Тёмный фон с прозрачностью */
    z-index: 1000; /* Поверх всех остальных элементов */
    display: flex; /* Flexbox для центрирования содержимого */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    overflow: hidden; /* Убирает прокрутку */

}

.main-image-container.expanded img {
    max-width: 80%; /* Ширина изображения относительно контейнера */
    max-height: 80%; /* Высота изображения относительно контейнера */
    object-fit: contain; /* Сохраняет пропорции изображения */
    border-radius: 12px; /* Закруглённые края изображения */
    margin-right: 540px;
    margin-bottom: 300px;
}





.main-image-container.expanded ~ .swiper-slide .main-image-container {
     transform: scale(0.8) !important;
    opacity: 0.5 !important;
      z-index: 1;
}

.swiper-slide-active .main-image-container {
    z-index: 2;
    transform: none;
}
.swiper-slide:not(.swiper-slide-active) .main-image-container {
   z-index: 1;
  transform: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  display: none; /* Скрываем кнопку по умолчанию */
}

.main-slider.expanded .close-button {
    display: block; /* Показываем кнопку только в увеличенном состоянии */
}

.main-slider.expanded {
  transform: translateY(200px);
}


.swiper_slide {
  width: 28vw;
  overflow: hidden;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Логотипов-прокрутка*/

.logo_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.swiper_wrapper {
  -webkit-transition-timing-function:linear!important;
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important;
}

.stage_work{
  width: 1400px;
  height: 804px;
  background-color: #07192E;
  border-radius: 10px;
  background: url('https://tomiko-trade.com/static/img/stage1.webp') center no-repeat;
}

.stage_icon{
  width: 1400px;
  height: 183px;
}

.stage_title {
  width: 1240px;
  height: 132px;
  text-align: center;
  padding-top: 50px;
}

.stage_icon_item{
  display: inline-block;
  width: 20%;
  position: relative;
}

.stage_icon_item::after{
  content: " ";
  display: block;
  width: 203px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transform: translate(2em, -1.5em);
}

.stage_description{
  margin-top:100px;
  margin-left: 100px;
}

.stage_icon_text{
  width: 1240px;
  height: 91px;
  margin-left: 100px;
}

.stage_item_icon_text{
  width: 257px;
  height: 91px;
  font-size: 16px;
  color:#fff;
  display: inline-block;
  width: 20%;
  margin-right: 30px;

}

.stage_item_icon_text p{

  font-size: 28px;
}


.stage_title span{
  color: #FD554B;
}

.stage_title p{
  font-family: "Oswald", sans-serif;
  color:#fff;
}

.stage_subtitle{
  width: 504px;
  height: 54px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

.stage_consultaion{
  text-align: center;
  margin-top: 80px;
  padding-right: 70px;
  position: relative;
}

.stage_consultaion img{
  width: 58px;
  height: 58px;
  position: absolute;
}

.consultaion{
  padding: 20px;
  border-radius: 30px;
  background: linear-gradient(to right, #0D2F68, #D51117);
  color: #fff;
  cursor: pointer;
  border:none;
  margin-right:20px;
}

.about{
display: flex;
justify-content: space-between;
width: 1400px;

}




.about_text{
  width: 748px;
  height: 308px;

}

.logo{
    cursor:pointer;
}

.about_title{
  font-size: 70px;
  font-family: "Oswald", sans-serif;
  color:#fff;
}

.about_subtitle{
  width: 100%;
  height: 112px;
  font-size: 18px;
  color:#fff;
}

.about_button{
  width: 300px;
  height: 70px;
  border-radius: 60px;
  font-size: 18px;
  background: linear-gradient(to right, #0D2F68, #D51117);
  text-align: center;
  padding-top: 20px;
  color:#fff;
  cursor: pointer;
  margin-top: 50px;
}

.about_photo img{
  width: 603px;
  height: 350px;
  border-radius: 28px;
}

.about_button{
  position: relative;
}

.about_button img{
  position: absolute;
  right: -90px;
  top:5px;
}

.about_footer{
  display: flex;
  justify-content: space-between;
  width:1300px;
  height: 104px;
  padding-top: 32px;
}

.about_stag_footer{
  width:132px;
  height: 69px;
  font-size: 48px;
  color: #FD554B;
}

.about_stag_footer p{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.about_like_footer{
  width: 183px;
  height: 69px;
  font-size: 48px;
  color: #FD554B;
}

.about_like_footer p{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.about_footer_1{
  width: 377px;
  height: 72px;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.about_footer_1 span{
  width: 313px;
  height: auto;

}

.about_like{
  width: 40px;
  height: 40px;
}

.about_like img{
  width: 100%;
  height:100%;
  object-fit: cover;
}


.about_footer_2{
  width: 344px;
  height: 72px;
  font-size: 16px;
  color:#fff;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.about_footer_2 span{
  width: 280px;
  height: auto;
}

.about_doc{
  width: 40px;
  height: 40px;
}

.about_doc img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_footer_3{
  width:179px;
  height: 72px;
  font-size: 16px;
  color:#fff;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.about_footer_3 span{
  width: 115px;
  height: auto;
}

.about_rukopogatie{
  width: 40px;
  height: 40px;
}

.about_rukopogatie img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews_up{
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.reviews_title{
  width: auto;
  height: 70px;
  color:#fff;
  font-size: 48px;
  text-transform: uppercase;
}

.reviews_link a{
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.reviews_down{
  width: 1400px;
  height: 200px;
}

.comment_rov{
  display: flex;
  justify-content: space-between;
}

.comment_item{
  width: 338px;
  height: 70px;
  background-color: #081d38;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.comment_mark{
  width: 118px;
  height: 44px;
}
.commnet_photo{
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;

}

.commnet_photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 5px;
}

.comment_name{
  width: 90px;
  height: 48px;
  font-size: 16px;
  padding-right: 20px;
  margin-top: 10px;
  color:#fff;
}
.comment_rov{
  margin-top:20px;
}
.fa-star{
  cursor: pointer;
  font-size: 10px;
}

.comment_data{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.comment_mark{
  margin-right: 15px;
  margin-bottom: 10px;
}

/* Клипы */

.clips{
  position: relative;
  width: 1600px;
  height: 518px;
}

.clips_phone{
  position: absolute;
  content: '';
  display: block;
  width: 1859px;
  height: 382px;
  background: linear-gradient(to right,#D51117,#0D2F68);
  right:50px;
  rotate:175deg;
  z-index: -1;
}

.clips_title{
  font-size: 70px;
  height: 70px;
  color:#fff;
}

.clip_button{
  width: 161px;
  height: 48px;
  background-color: #fff;
  border-radius: 25px;
  padding-left: 16px;
  text-align: center;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.1);
  cursor:pointer;
}

.clip_up{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  padding-bottom: 40px;
  margin-bottom: 10px;

}


.video_clip_item{
    display: inline-block;
    width: 150px;
    height: 264px;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 40px;
    overflow: hidden;
}

.video_clip_item img{
    width:100%;
    height: 100%;
    object-fit:cover;
}

.video_clip {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x proximity;
}

.video_clip::-webkit-scrollbar {
  display: none;
}

.video_clip {
  scrollbar-width: none;
}

.video_clip {
  -ms-overflow-style: none;
}

.clip_button i{
  color:#fff;
}

.clip_button button{
  background:rgba(255, 255, 255, 0.1);
  border: none;
}

.clips_title span{
  transform: translate(6em,10em);
}




/*команда ветеринаров*/
.cnt{
  display: flex;
  justify-content: space-between;

}

.reklama_img{
  width: 463px;
  height: 534px;
  position: relative;
}



.reklama_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 20px;
}


.reklama_item{
  background-color: #081E36;
  width: 1200px;
  height: 476px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;

}



.cont{

}


.slogan_socseti_item span{
  font-size:24px;
  display: inline-block;
  transform: translate(1em, -0.6em);
}

.slogan_socseti{
  position: relative;
}

.strel_tg{
  position: absolute;
  right: 50%;
  top: 32%;
}

.strel_vk{
  position: absolute;
  top:57%;
  right: 78%;
}

.strel_inst{
  position: absolute;
  top: 82%;
  right:66%;
}

.reklama_slogan{
  padding-top: 50px;
}

.slogan_socseti{
  padding-top: 60px;
}

.reklama_slogan{
  width: 595px;
  height: 328px;
  font-size: 40px;
}

.slogan span{
  color:#FD554B;

}

.slogan{
  font-family: "Oswald", sans-serif;
}

.slogan_socseti_item a{
  text-decoration: none;
  color:#fff;
}

.reklama_slogan{
  color:#fff;
}
.form_to_contact{
  width: 405px;
  height: 350px;
  background-color: #081E36;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.form_to_contact label{
  color:#fff;
  font-size: 14px;
  border-color: #081E36;
}

.form_to_contact span{
  display: inline-block;
}

.form_to_contact input{
    padding-top: 20px;
    border-color: #081E36;
}

.form_to_contact textarea{
  width: 350px;
  height: 64px;
  background-color: #20344A;
  color: #fff;
  opacity: .5;
  border-color: #081E36;
  border-radius: 10px;
  text-decoration: none;
}

.textarea label{
  margin-bottom: 0px;
}

.phone_number label{
  margin-bottom: 0px;
}

.checkbox{
  background-color:#fff;
}

.cch{
  width: 350px;
  height: 30px;


}


.checkbox {
  font-size: 5px;

}
.cch span{
  padding-left: 10px;
  margin-bottom: 10px;

}

.confeditional_form{
  color: #FD554B;
}

.cch{

  width: 100%;

  line-height: 1.2;
}


.button_form{
  font-size: 18px;
  text-align: center;
  width: 350px;
  height: 50px;
  border: 1px, solid, #20344A;
  padding-top: 10px;
  border-radius: 50px;
  background-color: #20344A;
  color:#fff;
}

.cch{
  font-size: 14px;
  width: 380px;
  height: 25px;
  top:20px;

}

.textarea{
  padding-top: 10px;
}

.checkbox{
  width: 18px;
  height: 20px;
}

.button_form{
  cursor: pointer;
}

.text_checkbox{
  font-size: 12px;
  padding-bottom:  50px;
  text-align: center;
  color: #fff;
}

.form_to_contact input{
  border-radius: 5px;
  padding: 5px;
  background-color: #20344A;
  color: #fff;
  opacity: .5;
}

.contact{
  width: 393px;
  height: 445px;

}

.contact_text{
  width: 252px;
  height: 138px;
  color:#fff;
  font-size: 40px;
  line-height: 1.2;
  padding-top: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.sub_contact_text{
  font-size: 18px;
  color:#fff;
  opacity: .5;
  padding-bottom: 30px;
}

.contact_info p{
  color:#fff;
  opacity: .5;
  font-size: 16px;
}

.contact_info div{
  font-size: 18px;
  color: #fff;
}

.kkns{
  color:green;
}

.footer{
  width: 100%;
  background: #081E36;
  height: auto;

}

.footer_logo img{
  width: 80px;
  height: 76px;
}

.footer_info{
  display: flex;
  width: 436px;
  height: 117px;
  justify-content: space-between;

}

.footer_catalog span{
  font-size: 24px;
  color:#ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer_company span{
  font-size: 24px;
  color:#ffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;

}

.catalog_text a{
  font-size: 16px;
  opacity: .5;
  color: #ffff;
  text-decoration: none;


}

.company_text a{
  font-size: 16px;
  opacity: .5;
  color: #ffff;
  text-decoration: none;

}

.footer_info{
  padding-right: 50px;
  margin-top: 20px;
}

.footer_info:last-child{
  padding-right: 0px;
}

.footer_catalog{
  width: 122px;
  height: 117px;

}

.footer_company{
  width: 122px;
  height: 117px;

}

.uslovie_work{
    transform: translate(100px, 150px);
}

.uslovie_work a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;

}

.footer_company span{
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
}

.footer_catalog span{
  font-family: "Oswald", sans-serif;
  font-style: normal;
}



.ot{
  display: flex;
  justify-content: space-between;
}


.footer_contact{
  width: 240px;
  height: 120px;
  padding-right: 0px;
  margin-top: 20px;
}

.footer_contact span{
  font-size: 14px;
  color: #fff;
  opacity: .5;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.number{
  color:#fff;
  font-size:40px;
  transform: translateX(-20px);
}

.footer_sosceti{
  color:#fff;
  opacity: .5;
}

.politic{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  margin-top: 90px;
  border-top: solid 1px gray;
}

.footer_logo{
  cursor: pointer;
}

.sup_title_catalog{
  width: 361px;
  height: 40px;
  font-size: 24px;
  color:#fff;
}

.sup_title_catalog *{
  display: inline-block;
}

.sup_title_catalog img{
  transform: translate(0em, 0.3em);
}

.sup_title_catalog img{
  width: 34px;
  height: 34px;
}

.catalog{
  width: 100%;
  height: 260px;
  background-color: #081E36;
  padding-top: 30px;
  border-radius: 24px;
  margin-top: 30px;
}

.catalog_select{
  width: 100%;
  padding-left: 10px;
}

.select_item_nesk:first-child{
  margin-left:30px;
}

.select_item{
  display: inline-block;
  width: 329px;
  padding: 10px 10px 10px 10px;
  background-color: #20344A;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.select_item_nesk{
  width: 124px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  background-color: #20344A;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;

}

.select_neskolko{
  width: 329px;
  height: 51px;
  display: inline-block;
}

.carousel-container {
      width: 100%;
      margin: auto;
      padding: 90px;
      overflow: hidden;
      transform: translate(1em,0em);
    }



    .card {
      background-color: #222;
      border-radius: 8px;
      padding: 16px;

      width: 338px;
      height: 347px;
      display: inline-block;
    }

    .card{

      margin-bottom: 10px;
      background-color: #081E36;
    }
    .card img {
      max-width: 100%;
      border-radius: 8px;
      object-fit: cover;
      margin-top: 40px;
    }

    .card p {
      margin: 10px 0;
    }

    .card_suptitle{
      font-size: 18px;
      width: 306px;
      color:#fff;
      font-family: "Oswald", sans-serif;
    }

    .card_subtitle{
      font-size: 14px;
      width: 306px;
      color:rgba(255, 255, 255, 0.5);
    }


    .card_button{
      color: #fff;
      width: 129px;
      height: 44px;
      border-radius: 30px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);
      border: 0;
    }

    .sort-car{
      margin-bottom: 10px;
      width: 205px;
      height: 44px;
    }

    .carousel-container a{
      text-decoration: none;
      color:black;
    }

    .select_car *{
      display: inline-block;
    }

    .select_car a{
      color:#fff;
      font-size: 14px;
    }

    .link_torg{
      background: #D51117;
      width: 248px;
      height: 44px;
      text-align: center;
      border-radius: 30px;
      padding-bottom: 5px;
    }

    .card_button:hover{
      background: #D51117;
    }

    .footer_card{
      width: 400px;
      height: 44px;

    }

    .footer_card *{
      display: inline-block;
      margin-right: 50px;
    }

    .title_card{
      width: 322px;
      height: 50px;

    }

    .price_car_catalog{
      font-size: 24px;
      color:#fff;
      padding-top: 20px;
      font-family: "Oswald", sans-serif;
    }

    .navigation {
      display: flex;
      gap: 8px;
      margin: 16px;
    }
    .navigation button {
      padding: 8px 16px;
      background-color: #444;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .navigation button:hover {
      background-color: #666;
    }
    .navigation .page-btn {
      background-color: #ddd;
      color: #333;
      border: 1px solid #aaa;
    }

     .navigation .page-btn.active {
        background-color: #f00;
        color: #fff;
        border: 1px solid #f00;
     }

     .navigation .page-btn.dots {
        background-color: transparent;
        color: #333;
        border: none;
        cursor: default;
     }
    .navigation .page-btn.disabled {
         background-color: #eee;
         color: #999;
        cursor: default;
    }

    .button_catalog{
      width: 190px;
      height: 44px;
      margin-left: 10px;
      margin-top: 10px;
    }

    .catalog_button{

      color: #fff;
      width: 190px;
      height: 44px;
      border-radius: 30px;
      cursor: pointer;
      background: #20344A;
      border: 0;
    }

    /* Карусель логотоипов*/
 .c {
            position: relative;
            width: 100%; /* Ширина контейнера */
            height: 150px; /* Высота контейнера */
            overflow: hidden; /* Скрываем всё, что выходит за пределы */
        }

        .card-home {
            display: inline-block; /* Элементы располагаются в одну строку */
            white-space: nowrap; /* Элементы не переносятся на новую строку */
            animation: scroll 10s linear infinite; /* Анимация прокрутки */
        }

        .card-home img {
            display: inline-block; /* Элементы располагаются в одну строку */
            width: 100px; /* Ширина изображения */
            height: 100px; /* Высота изображения */
            margin: 5px; /* Отступ между изображениями */
            object-fit: cover; /* Сохраняет пропорции изображения */
        }

        @keyframes scroll {
            0% {
                transform: translateX(-0); /* Начальное положение */
            }
            100% {
                transform: translateX(-50%); /* Прокрутка на половину ширины контейнера */
            }
        }

.marque-text-red{
    margin: 100px auto auto auto;
    position: absolute;
    max-width: 100%;
    display: flex;
    gap: 20px;
    background-color: #d51117;


}

.marque-text-red a{
    text-decoration: none;
    color:#fff;
}

.marque-text-red div{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    animation: marque-text-red 25s linear infinite;
    background-color: #d51117;
}

.marque-text-red h1{
    width: 100%;
    white-space: nowrap;
    display: flex;
    gap:10px;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}



@keyframes marque-text-red {
    200% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marque-text-gray {
    margin: 155px auto auto auto;
    position: absolute;
    max-width: 100%;
    display: flex;
    gap: 20px;
    background-color: #081e36;
    margin-bottom: 20px;

}

.marque-text-gray div {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    animation: marque-text-gray 25.5s linear infinite;
    background-color: #081e36;
}

.marque-text-gray h1 {
    width: 100%;
    white-space: nowrap;
    display: flex;
    gap: 10px;
    color: white;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
}


.marque-text-gray a{
    text-decoration:none;
    color:#fff;
}


@keyframes marque-text-gray {
    200% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.section--reviews{
    margin-top: 120px;
}

.form-container {
    background-color: #081E36;
    padding: 30px;
    border-radius: 28px;
    width: 640px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    height:448px;
}



.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="tel"]
 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 32px;
    background-color: #20344A;
    color: #fff;
    box-sizing: border-box;
}

.form-group textarea{
    width:560px;
    height:101px;
    border-radius:16px;
    background:#20344A;
    border:0;

}

.form-group textarea {
    resize: vertical;
    min-height: 80px;
    background:#20344A;
     resize: none;
  overflow-y: auto;
}


.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"]{
  margin-right: 5px;
}

.contact_main button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 60px;
    background-color: #20344A;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height:70px;
}

button:hover {
    background-color: #495c8c;
}

.form-group label{
    font-size: 14px;
    color:#fff;

}

.checkbox-group label{
    font-size:12px;
    transform:translateY(5px);
}

.checkbox-group label span{
    color:#FD554B;
}

/* Прокрутка предложений

/* Компания */
/*

font-family: 'Bebas Neue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
/* identical to box height */




/* Inside auto layout */
/*flex: none;
order: 0;
flex-grow: 0;*/